<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/main.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="form">
        <h1>Json Data List</h1>
        <div class="inputtask">
          <input type="text" id="task" placeholder="Enter task">
          <button id="btn">Add a Task</button>
        </div><!-- /#inputtask -->
        <ul id="taskList"></ul>
    </div><!-- /.form -->
    </div><!-- /.container -->
  </body>
</html>
